name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

env:
  POETRY_VERSION: 1.7.1

jobs:
  test:
    name: Test py${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']

    steps:
      - uses: actions/checkout@v3

      - name: Install poetry
        run: pipx install poetry==$POETRY_VERSION

      - name: Set up python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'

      - name: Install dependencies
        run: |
          poetry install
          poetry run pip install --no-deps --force-reinstall reboundx

      - name: Run checks
        run: poetry run invoke check

      - name: Run tests
        run: poetry run invoke test
